{% extends 'base.html.twig' %}

{% block title %}{{ habitat.nom }} - Animaux{% endblock %}

{% block body %}
  <div class="container">
    <h1>{{ habitat.nom }}</h1>
    <p>{{ habitat.description }}</p>

    <h2>Animaux de cet habitat :</h2>
    <ul>
      {% for animal in animaux %}
        <li>{{ animal.nom }} ({{ animal.espece }})</li>
      {% else %}
        <li>Aucun animal pour cet habitat.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

